.control-group {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}