.control-group {
    color: var(--black);
}

#contact {
    margin-top: 5%;
    font-family: var(--font-one);
    padding-top: 1%;
    width: 100vw;
    height: 60vh;
    background-color: var(--lightgray);
}

.text-uppercase h2{
    font-size: 250%;
    font-weight: bolder;
}

.contact-underline {
    position: relative;
    z-index: 1000;
    color: var(--white);
    height: 10px;
    widows: 20px;
}

.row {
   text-align: center;
}

form {
    margin: auto;
    width: 30%;
    letter-spacing: 0.6em;
    font-family: var(--font-one);
}

.btn {
    color: var(--black);
    margin-top: 0;
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.text-center {
    color: var(--black);
}
