.control-group {
    color: var(--black);
}

#contact {
    margin-top: 5%; 
    font-family: var(--font-one);
    padding-top: 1%;
    width: 100vw;
    height: 70vh;
    background-color: var(--lightgray);
}

.text-uppercase h2{
    font-size: 250%;
    font-weight: bolder;
}

#contact hr{
    background-color: white;
    width: 300px;
    margin-bottom: 2%;
}

.row {
   text-align: center;
}

form {
    margin: auto;
    width: 30%;
    letter-spacing: 0.6em;
    font-family: var(--font-one);
}

.btn {
    color: var(--black);
    margin-top: 0;
    letter-spacing: 0.1em;
    font-weight: bolder;
}

.text-center {
    color: var(--black);
}
