#nav-content {
    margin-left: 75%;
    color: var(--white);
    font-family: var(--font-one);
    font-weight: 900;
}

#navbar {
    background-color: var(--white);
    opacity: 0.8;
    position: fixed;
    z-index: 20;
}

.navbar {
    margin-bottom: 50%;
}

.navbar-brand {
    font-family: var(--font-one)
}

.nav-pills > .active{
    color: var(--white) !important;
    background: var(--black) !important;
}